# Système d'exploitation
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Éditeurs de code (VS Code, Visual Studio, Rider)
.vscode/
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Nix
result
result-*
.direnv

# Fichiers d'environnement globaux
.env

.cursorrules

# Playwright E2E
e2e/fixtures/storage/*.json
playwright-report/
test-results/
blob-report/
node_modules/
package-lock.json